* {
	margin: 0;
	border: none;
	font-size: 0.9rem;
	color: $darkBlue;
}

html, body {
    max-width: 100%;
	overflow-x: hidden;
	background-color: $darkBlue;
	font-family: $fontFamily;
	width: 100%;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hidden { display: none; }

.small-label, .label {
	color: $ivory; 
	font-weight: $bold;
	text-transform: uppercase;
}

.small-label { font-size: 1.5rem; }

.label { font-size: 2rem; }

.error {
	font-size: 1rem;
	color: $red;
	font-weight: $bold;
}

.footer {
	margin: 3rem 0 2rem 0;

	&_text {
		color: $ivory;
		font-size: 0.8rem;
	}
}




