.container {
    margin: 2rem 3rem;
    flex-direction: column;
    gap: 2rem;
    padding: 0 4rem;

    .movie {
        margin: 2rem 0;
        display: flex;
        width: 100%;
        gap: 6rem;

        &_poster {
            border-radius: 1.5rem;
            flex: 1;
            
            img {
                height: 90%;
                width: 100%;
                border-radius: 1.5rem;
            }
        }
        
        &_info {
            flex-wrap: wrap;
            flex-direction: column;
            gap: 2rem;
            flex: 1.8;

            & > div { color: $ivory; }

            &_title {
                font-size: 1.9rem;
            }

            &_desc, &_actors {
                line-height: 1.5rem;
                font-size: 1rem;
                text-align: justify;
                border-radius: 1.5rem;
            }

            &_desc {
                border: 2px solid rgba(212, 212, 212, 0.15);
                //border: 1px solid $red;
                padding: 3rem;
            }

            &_actors {
                border: 2px solid rgba(212, 212, 212, 0.15);
                padding: 1.5rem;

                .cast {
                    font-weight: $extraBold;
                    color: $ivory;
                    font-size: 1rem;
                }
            }

            &_options {
                .rating {
                    color: $ivory;
                    font-size: 1.1rem;
                    margin-right: 5rem;
                    text-transform: uppercase;
                }

                .add-movie {
                    font-weight: $bold;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    input {
                        color: $ivory;
                        border-radius: 1.5rem;
                        background-color: $blue;
                        border: 2px solid $blue;
                        padding: 0.8rem 1.4rem;
                        
                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    .review {
        &_title {
            color: $ivory;
            font-size: 1.6rem;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
            font-weight: $bold;
        }

        &_mine {
            margin: 2rem;
            background-color: rgba(212, 212, 212, 0.15);
            padding: 2rem;
            border-radius: 1.5rem;

            .username {
                color: $ivory;
                font-size: 1rem;
                margin-bottom: 1.3rem;
                font-weight: $bold;
            }

            .input-box {
                margin-bottom: 1.2rem;

                textarea {
                    min-height: 3rem;
                    width: 97%;
                    border-radius: 0.8rem;
                    padding: 1rem;
                    transition: height 0.4s;
                }
            }

            .options {
                width: 100%;
                justify-content: space-between;

                input { 
                    cursor: pointer; 
                    font-weight: $bold;
                    color: $ivory;
                    font-size: 1rem;
                }

                &_rate {
                    input {
                        background-color: transparent;
                    }
                }

                &_submit {
                    input {
                        border-radius: 1.5rem;
                        background-color: $red;
                        border: 2px solid $red;
                        padding: 0.8rem 2rem;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            background-color: transparent;
                            transition: all 0.2s ease-in-out;
                        }
                    }
                }
            }
        }
        &_all {
            margin: 2rem;
            flex-direction: column;

            &_box {
                width: 100%;
                margin: 1rem 0;

                div { color: $ivory; }

                .title {
                    justify-content: space-between;
                    margin-bottom: 1rem;
                    
                    div { 
                        font-weight: $bold;
                        font-size: 1rem; 
                    }

                    /*&_username {

                    }

                    &_rating {
             
                    }*/
                }

                .text {
                    font-size: 1.02rem;
                    border: 1px solid rgba(211, 211, 211, 0.3);
                    color: $ivory;
                    padding: 2rem;
                    border-radius: 1.5rem;
                    text-align: justify;
                }
            }
        }
    }
}