.list-box {
    margin: 2rem 3.4rem;
    flex-direction: column;

    .showall {
        width: 100%;
        justify-content: flex-end;

        &_btn {
            border: 2px solid $blue;
            padding: 0.9rem 1.5rem;
            border-radius: 1.5rem;
            text-align: center;
            align-self: flex-end;
            transition: all 0.15s ease-in-out;
            cursor: pointer;
            color: $ivory;

            &:hover { 
                background-color: $blue; 
            }
        }
    }

    &_half {
        flex-direction: column;
        align-items: flex-start;
        gap: 2.9rem;
        width: 100%;
        overflow-x: scroll;
        padding: 2rem 3rem;

        &::-webkit-scrollbar {
            display: none;
        }

        .mylist, .top5 { padding-top: 0.8rem; }

        .movie {
            display: grid;
            grid-template-rows: 75% 25%;
            border-radius: 1rem;
            width: 16rem;
            height: 27rem;
            margin-right: 5rem;
            transition: all 0.5s ease-in-out;

            &:hover {
                transition: all 0.5s ease-in-out;

                .mov { 
                    transform: scale(105%, 105%) translate(0, -6.7rem);
                }
            }

            &_poster {
                position: relative;
                border-top-left-radius: 1.5rem;
                border-top-right-radius: 1.5rem;
            
                .mov {
                    position: absolute;
                    height: 135%; 
                    width: 120%;
                    border-radius: 1.5rem;
                    transition: all 0.5s ease-in-out;
                }
            }

            &_info {
                text-align: center;
                width: 120%;
                background-color: rgba(212, 212, 212, 0.15);
                //background-color: rgba(242, 241, 232, 0.7);
                border-bottom-left-radius: 1.5rem;
                border-bottom-right-radius: 1.5rem;
                flex-direction: row;

                &_text {
                    font-weight: $bold;
                    flex-direction: column;
                    padding: 1rem;

                    .title {
                        font-size: 1.1rem;
                        color: $ivory;
                    }

                    .rating {
                        color: $ivory;
                    }
                }

                &_potato {
                    padding: 1rem;
                }
            }
        }
    }
}

