<!doctype html>

<link rel=preconnect href=https://fonts.googleapis.com>
<link rel=preconnect href=https://fonts.gstatic.com crossorigin>
<link href=https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;800&display=swap rel=stylesheet>
<link rel=stylesheet href=../scss/style.css>
<link rel=icon href=favicon.ico>

<title>Rotten Potatoes</title>

<div class=nav-bar>
	<div class='logo flex'>
		<a href=home.htm><img src=../images/light-logo-1.png class=logo_img></a>
	</div>
	<div class='search flex'>
		<input type=text name=search placeholder=Search id=Search class=search_bar>
	</div>
	<div class='menu flex'>
		<a href=watchlist.htm class='menu_button flex menu_btn'>Watchlist</a>
		<a href=ranking.htm class='menu_button flex menu_btn'>Ranking</a>
		<a href=categories.htm class='menu_button flex menu_btn'>Categories</a>
		<a href=login.htm class='menu_button flex menu_login'>Log in</a>
	</div>
</div>

<div class='list-box flex'>
	<div class='list-box_half flex'>
		<p>Top 5 Highest Rated</p>
		<div class='mylist flex'>
			<div class=movie>
				<div class=movie_poster></div>
				<div class='movie_info flex'>Movie Info</div>
			</div>
			<div class=movie>
				<div class=movie_poster></div>
				<div class='movie_info flex'>Movie Info</div>
			</div>
			<div class=movie>
				<div class=movie_poster></div>
				<div class='movie_info flex'>Movie Info</div>
			</div>
			<div class=movie>
				<div class=movie_poster></div>
				<div class='movie_info flex'>Movie Info</div>
			</div>
			<div class=movie>
				<div class=movie_poster></div>
				<div class='movie_info flex'>Movie Info</div>
			</div>
		</div>
	</div>
	<div class='list-box_half flex'>
		<p>Top 5 Most Reviewed</p>
		<div class='top5 flex'>
			<div class=movie>
				<div class=movie_poster></div>
				<div class='movie_info flex'>Movie Info</div>
			</div>
			<div class=movie>
				<div class=movie_poster></div>
				<div class='movie_info flex'>Movie Info</div>
			</div>
			<div class=movie>
				<div class=movie_poster></div>
				<div class='movie_info flex'>Movie Info</div>
			</div>
			<div class=movie>
				<div class=movie_poster></div>
				<div class='movie_info flex'>Movie Info</div>
			</div>
			<div class=movie>
				<div class=movie_poster></div>
				<div class='movie_info flex'>Movie Info</div>
			</div>
		</div>
	</div>
</div>

<p>Copyright (c) 2022 Rotten Potatoes. All rights reserved.</p>

<script src=../scripts/search.js></script>